{% extends 'base.html' %} {% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12 card mb-4 mt-3 left top">
        <div class="card-body">
          <h1>{% block title %} {{ post.title }} {% endblock title %}
            {% if user.is_authenticated %}
            <i id="liked" class="fa fa-heart" style="font-size: 24px; color: red; display: none;"></i>
            <i id="notliked" class="fa fa-heart-o" style="font-size: 24px; display: inline-block;"></i>
            {% endif %}
          </h1>
          <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p class="card-text">{{ post.content | safe }}</p>
        </div>
      </div>

      <div class="col-md-12 card mb-4 mt-3">
        <div class="card-body">
          <h3>Leave a comment</h3>
          <form method="post" style="margin-top: 1.3em;">
            {{ comment_form.as_p }} {% csrf_token %}
            <button id="btnSubmit" type="submit" class="btn btn-primary btn-lg">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>

    <style>
      .card {
        box-shadow: 0 16px 48px #e3e7eb;
      }
    </style>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right">
      <div class="card my-4">
        <h5 class="card-header">{{ comments.count }} comments</h5>

        <div class="card-body">
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class="text-muted font-weight-normal">
                {{ comment.created_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% if user.is_authenticated %}
<script>
  var isLiked = {{ liked }};

  if (isLiked) {
    $('#liked').css('display', 'inline-block');
    $('#notliked').css('display', 'none');
  } else {
    $('#notliked').css('display', 'inline-block');
    $('#liked').css('display', 'none');
  }

  $('#liked').click(function() {
    $('#notliked').css('display', 'inline-block');
    $('#liked').css('display', 'none');
    $.ajax({
      type: 'POST',
      data: {
        type: "dislike",
        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
      },
      dataType: 'html'
    });
  });

  $('#notliked').click(function() {
    $('#liked').css('display', 'inline-block');
    $('#notliked').css('display', 'none');
    $.ajax({
      type: 'POST',
      data: {
        type: "like",
        csrfmiddlewaretoken:  $('input[name="csrfmiddlewaretoken"]').val()
      }
    });
  });
</script>
{% endif %}

{% endblock content %}
